{% extends 'base.html.twig' %}

{% block title %}Edit Movie{% endblock %}

{% block body %}
    {% include('partials/admin/navbaradmin.html.twig') %}
    <div class="example-wrapper">

        <h2>Edit Movie</h2>

        {% for message in app.flashes('error') %}
            <div class="ui error message">
                <i class="close icon"></i>
                <div class="header">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="ui success message">
                <i class="close icon"></i>
                <div class="header">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        {{ form_start(MovieForm, {'attr': {'class': 'ui form'}}) }}

        {% for field in MovieForm.children %}
            {% if field.vars.name != '_token' %}
                <div class="field">
                    {{ form_widget(field) }}
                    {{ form_errors(field) }}
                </div>
            {% endif %}
        {% endfor %}

        <button class="ui button" type="submit">Edit</button>

        {{ form_end(MovieForm) }}
    </div>
{% endblock %}
