

<div class="container1">

    {% for message in app.flashes('error') %}
        <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">
                {{ message }}
            </div>
        </div>
    {% endfor %}
        <div class="ui special cards">
            {% for x in data %}
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">
                                        <a class="header" href="{{ path('view_movie_details', {id: x.id}) }}">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="{{ asset('uploads/poster/' ~ x.poster) }}">
                    </div>
                    <div class="content">
                        <a href="{{ path('view_movie_details', {id: x.id}) }}" class="header">{{ x.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>