{% for message in app.flashes('error') %}
    <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
            {{ message }}
        </div>
    </div>
{% endfor %}

{% if data | length > 0 %}

    <div class="container-fluid" style="margin: auto;">
        <div class="ui segment">
            <div class="ui equal width center aligned padded grid" style="margin: auto;">
                <div class="row">

                    <div class="column image">
                        <div class="ui image">
                            <div class="ui blue ribbon label">
                                <i class="hotel icon"></i> {{ data.Title }}
                            </div>

                            <img id="movie-poster" src="{{ data.Poster }}" alt="poster">

                        </div>
                    </div>

                    <div class="column">
                        <div class="meta">
                            <p id="movie-title" style="text-align: center;" class="category">{{ data.Title }}</p>
                        </div>

                        <div class="ui divider"></div>

                        <div class="meta">
                            {% for x in data.Genre %}
                                <span class="ui blue image label">
                                    {{ x }}
                                </span>
                            {% endfor %}
                        </div>

                        <div class="ui divider"></div>

                        <div class="meta">
                            <span id="movie-released" class="category"> {{ data.Released }}</span>
                        </div>

                        <div class="ui divider"></div>
                        {# #}
                        <div class="meta">
                            <span id="movie-director" class="category"> {{ data.Director }}</span>
                        </div>

                        <div class="ui divider"></div>

                        <div class="meta">
                            <span id="movie-plot" class="category"> {{ data.Plot }}</span>
                        </div>

                        <br>

                        <div>
                            <button id="saveBtn" style="width: 100%;" class="ui primary button">Save</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}