<div class="ui secondary menu">
    <a class="active item" href="{{ path('view_movie') }}">
        Dashboard
    </a>

    <a class="active item" href="{{ path('movie') }}">
        New Movie
    </a>

    <a class="active item" href="{{ path('search_movie_id') }}">
        Search Movie
    </a>

    <a class="active item" href="{{ path('view_user') }}">
        Users
    </a>

    <a class="active item" href="{{ path('view_rentals') }}">
        Rentals
    </a>

</div>


