{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <div class="ui secondary menu">
        <a class="active item" href="{{ path('home') }}">
            Home
        </a>

        <a class="active item" href="{{ path('api') }}">
            API
        </a>

        <a class="active item" href="{{ path('app_login') }}">
            Login
        </a>

        <a class="active item" href="{{ path('movie') }}">
            New Movie
        </a>

        <div class="ui simple dropdown item">
            <div class="text">User</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div href="{{ path('app_register') }}" class="item">Register</div>
                <div href="{{ path('app_login') }}" class="item">Log In</div>
            </div>
        </div>

        <div class="ui simple dropdown item">
            <div class="text">Movie</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div href="{{ path('movie') }}" class="item">New</div>
                <div href="{{ path('view_movie') }}" class="item">List</div>
            </div>
        </div>

        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input id="searchtitle" type="text" placeholder="Search...">
                    <i id="searchicon" class="search link icon"></i>
                </div>
            </div>
        </div>

    </div>

    {# {{ dump(data) }} #}
{#    <div class="container" style="margin: auto;">#}
{#        <div class="ui segment">#}
{#            <div class="row">#}
{#                <div style="margin-left: 25%" class="column image">#}
{#                    <div class="ui image">#}
{#                        <div class="ui blue ribbon label">#}
{#                            <i class="hotel icon"></i> {{ data.Title }}#}
{#                        </div>#}
{#                        <img src="{{ data.Poster }}" alt="poster">#}
{#                    </div>#}
{#                </div>#}

{#                <div class="ui divider"></div>#}
{#                <div class="meta">#}
{#                    <p style="text-align: center;" class="category"> {{ data.Title }}</p>#}
{#                </div>#}

{#                <div class="ui divider"></div>#}

{#                 for loop outside  to separate the 3 labels#}
{#                <div class="meta">#}
{#                    {% for x in data.Genre %}#}
{#                        <a class="ui blue image label">#}
{#                            {{ x }}#}
{#                        </a>#}
{#                    {% endfor %}#}
{#                </div>#}

{#                <div class="ui divider"></div>#}

{#                <div class="meta">#}
{#                    <span class="category"> {{ data.Released }}</span>#}
{#                </div>#}

{#                <div class="ui divider"></div>#}

{#                <div class="meta">#}
{#                    <span class="category"> {{ data.Director }}</span>#}
{#                </div>#}

{#                <div class="ui divider"></div>#}

{#                <div class="meta">#}
{#                    <span class="category"> {{ data.Plot }}</span>#}
{#                </div>#}

{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="container" style="margin: auto;">
        <div class="ui segment">
            <div class="ui equal width center aligned padded grid" style="margin: auto;">
                <div class="row">

                    <div class="column image">
                        <div class="ui image">
                            <div class="ui blue ribbon label">
                                <i class="hotel icon"></i> {{ data.Title }}
                            </div>
                            <img src="{{ data.Poster }}" alt="poster">
                        </div>
                    </div>

                    <div class="column">
                        <div class="meta">
                            <p style="text-align: center;" class="category"> {{ data.Title }}</p>
                        </div>

                        <div class="ui divider"></div>

                        {# for loop outside  to separate the 3 labels #}
                        <div class="meta">
                            {% for x in data.Genre %}
                                <a class="ui blue image label">
                                    {{ x }}
                                </a>
                            {% endfor %}
                        </div>

                        <div class="ui divider"></div>

                        <div class="meta">
                            <span class="category"> {{ data.Released }}</span>
                        </div>

                        <div class="ui divider"></div>

                        <div class="meta">
                            <span class="category"> {{ data.Runtime }}</span>
                        </div>

                        <div class="ui divider"></div>

                        <div class="meta">
                            <span class="category"> {{ data.Director }}</span>
                        </div>

                        <div class="ui divider"></div>

                        <div class="meta">
                            <span class="category"> {{ data.Plot }}</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
